/* footer */

footer{
    padding: 20px 0;
    background: #fff;
    border-top: 1px solid #d9d9d9;
    font-size: 12px;

}

footer h3{
  font-size:14px
}
.footer_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto; 
}

footer ul li a{
    color: #585858;
    font-size: 12px;
}

footer p {
    font-size: 12px;
    text-align: left;
    margin: 0;
}
footer .container p {
    text-align: center;
    font-size: 14px;
}
@media (max-width:600px) {
    .footer_block{
    display: block;
    }
    .footer_block > div{
    margin-bottom: 50px;
    margin-left: 15px;
    }
}

/* discaimer */

.disclaimer-container {
      background-color: rgba(0,0,0,.7);
      color: #fff;
      display: none;
    font-family: 'Open Sans', sans-serif;
      position: fixed;
      bottom: 0;
      z-index: 999;
      width: 100%;
  }
  .disclaimer-container.show {
    display: block;
  }
  .disclaimer-container .container {
    max-width: 720px;
    margin: auto;
  }
  .disclaimer-container .disclaimer-text {
      padding: 8px;
  }
  .disclaimer-container .disclaimer-text p {
    font-size: 12px;
      line-height: 22px;
      margin: 0 auto;
      text-align: justify;
  }
  .disclaimer-container .disclaimer-text p span:before {
    color: #fff;
  }
  .disclaimer-container .disclaimer-text p a {
    color: #fff;
  }
  .disclaimer-container .disclaimer-button {
    cursor: pointer;
    padding: 2px 8px;
    background-color: #005eb8;
      border-color: #005eb8;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      box-shadow: none;
      padding: 7px 12px;
      font-size: 14px;
      line-height: 20px;
      border-radius: 3px;
      width: 150px;
      margin: 10px auto;
  }
  .disclaimer-container .disclaimer-button:hover {
    background-color: #ad0f5b;
    color: #fff;
  }