.clear:after, .container:after {
	clear: both
}
.header_bottom, .header_top, header, section {
	position: relative
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
img {
	max-width: 100%
}
body {
	line-height: 20px;
	font-family: 'Open Sans', serif;
	font-weight: 400;
	font-size: 16px;
	min-width: 300px;
	color: #303030;
	overflow-x: hidden;
	width: 100%;
	margin: auto;
	background: #fff
}
.bold, b {
	font-weight: 700
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
	content: '';
	content: none
}
.clear {
	clear: both;
}
.clear:after, .clear:before, .container:after, .container:before {
	content: "";
	display: table
}
.wrap {
	max-width: 1920px;
	margin: auto;
	overflow: hidden;
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
.container {
	max-width: 960px;
	margin: auto;
	padding: 0 9px;
	position: relative;
}
.center {
	display: table-cell;
	vertical-align: middle;
}
.inlhack {
	letter-spacing: -.36em;
	text-align: center;
}
.header_top {
	padding: 5px 0 0;
	height: 55px;
	position: relative;
	background-color: #fff;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.22);
	z-index: 2;
}
.ht_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.ht {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: bold;
}
.ht .image {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}
.ht .text {
	padding-top: 4px;
	margin-left: 5px;
	font-size: 16px;
	color: #666666;
	font-weight: bold;
	line-height: 16px;
}
.header_bottom {
	background: url(../img/main_bg.jpg) no-repeat top center;
	height: 819px;
	padding-top: 85px;
	position: relative;
}
/* .header_bottom:after {
    content: "";
    position: absolute;
    right: -55px;
    background: url(../img/apple.png) no-repeat;
    width: 575px;
    height: 330px;
    bottom: -175px;

} */

.apple {
	position: absolute;
	right: -528px;
	top: 352px;
}
.mt {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 40px;
}
h1, .last_block h2 {
	font-size: 94px;
	color: #fff;
	position: relative;
	font-weight: 800;
	line-height: 100px;
	margin-bottom: 0;
	letter-spacing: -2px;
}
.last_block h2:after {
	display: none;
}
.main_title span {
	display: block;
	font-size: 38px;
	line-height: 38px;
	font-weight: 800;
	color: #FFF;
	letter-spacing: -1px;
}
.main_slog {
	font-size: 24px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
	color: #FFF;
	position: relative;
	padding-left: 50px;
}
.main_slog:before {
	content: "";
	position: absolute;
	left: 0;
	top: -10%;
	width: 7px;
	height: 120%;
	background-image: -webkit-linear-gradient( 90deg, rgb(255, 136, 1) 0%, rgb(255, 177, 0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255, 136, 1) 0%, rgb(255, 177, 0) 100%);
}
.main_text {
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	line-height: 22px;
	background-color: rgba(255, 189, 0, 0.8);
	display: inline-block;
	padding: 12px 30px 12px 0;
	text-transform: uppercase;
	position: relative;
}
.main_text:before {
	content: "";
	position: absolute;
	left: -500px;
	width: 500px;
	height: 100%;
	background-color: rgba(255, 189, 0, 0.8);
	top: 0;
}
.prod_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}
.list {
	width: 250px;
	margin-top: 124px;
	margin-left: 215px;
}
.list li {
	font-size: 16px;
	line-height: 18px;
	color: #FFF;
	font-weight: 600;
	position: relative;
	padding-left: 55px;
	margin-bottom: 22px;
}
.list li:last-child {
	margin-bottom: 0;
}
.list li:nth-child(even) {
	margin-left: 20px;
}
.list li:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: url(../img/list.png) no-repeat top center;
	width: 43px;
	height: 43px;
}
.sale_block_wrap {
	border-radius: 50%;
	background-image: -webkit-linear-gradient( 116deg, rgb(246, 238, 232) 0%, rgb(255, 248, 242) 100%);
	background-image: -ms-linear-gradient( 116deg, rgb(246, 238, 232) 0%, rgb(255, 248, 242) 100%);
	width: 470px;
	height: 470px;
	padding: 20px;
	margin-top: 12px;
}
.sale_block {
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 13px 0px rgba(0, 1, 1, 0.24);
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* count */

.count_title {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 24px;
	color: #FF8801;
	margin-bottom: 10px;
}
.count {
	text-align: center;
	border-radius: 5px 5px 0 0;
	padding: 12px 0 5px;
	margin-bottom: 5px;
}
.countbox {}
.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0;
	color: #2a2a2a;
	font-weight: 600;
	margin: 10px auto 0;
}
.countbox .countbox-num {
	font-weight: bold;
	position: relative;
	border-radius: 10px;
	background-color: rgb(42, 54, 42);
	width: 75px;
	height: 68px;
	border: 2px solid #fff;
	box-shadow: 0px 1px 2px 0px rgba(1, 1, 1, 0.5), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	margin-right: 30px;
	padding-top: 0px;
	display: inline-block
}
.countbox>div:last-child {
	margin: 0
}
.countbox .countbox-num:before {
	content: ':';
	position: absolute;
	right: -24px;
	top: 18px;
	color: #2A362A;
	font-size: 40px;
}
.countbox .countbox-num:last-child:before {
	display: none
}
.countbox-hours, .countbox-mins, .countbox-secs {
	color: #fff;
	font-size: 52px;
	text-align: center;
	font-weight: 600;
	line-height: 58px;
	margin-bottom: 0px;
}
/* count */

.price {
	background: #FFDE00;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin-bottom: 10px;
}
.price:after {
	content: "";
	position: absolute;
	left: 43%;
	background: url(../img/arrow.png) no-repeat top center;
	width: 50px;
	height: 79px;
	top: -8px;
}
.old_price {
	font-size: 38px;
	color: #445B70;
	line-height: 38px;
}
.old_price .numb {
	text-decoration: line-through;
}
.price .cur {
	font-size: 22px;
}
.new_price {
	font-size: 52px;
	color: #2a362a;
	font-weight: bold;
	line-height: 52px;
}
.inputs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
input {
	outline: none;
	border-width: 1px;
	border-color: rgb(198, 198, 198);
	border-style: solid;
	width: 190px;
	height: 38px;
	border-radius: 20px;
	padding: 0 20px 0 40px;
	text-align: center;
	color: #000;
	font-size: 16px;
}
input.name {
	background: url(../img/name.png) no-repeat 5px center;
	margin-right: 10px;
}
input.phone {
	background: url(../img/phone.png) no-repeat 5px center;
}
.secure {
	font-size: 14px;
	color: #898989;
	margin: 5px 0;
	text-align: center;
}
.secure span {
	display: inline-block;
	padding-left: 20px;
	background: url(../img/secure.png) no-repeat left center;
}
.btn {
	cursor: pointer;
	outline: none;
	text-align: center;
	color: #fff;
	line-height: 62px;
	font-size: 21px;
	font-weight: bold;
	border: none;
	background-image: -webkit-linear-gradient( 0deg, rgb(255, 136, 0) 0%, rgb(255, 188, 3) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255, 136, 0) 0%, rgb(255, 188, 3) 100%);
	width: 258px;
	border-radius: 35px;
	height: 68px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	margin: auto;
}
.btn:hover {
	background-image: -webkit-linear-gradient( 0deg, rgb(255, 188, 3) 0%, rgb(255, 136, 0) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255, 188, 3) 0%, rgb(255, 136, 0) 100%);
}
.btn:active {
	background-image: -webkit-linear-gradient( 0deg, rgb(255, 136, 0) 0%, rgb(255, 136, 0) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255, 136, 0) 0%, rgb(255, 136, 0) 100%);
}
.sale {
	position: absolute;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	top: 374px;
	left: 208px;
	-webkit-transform: rotate(7deg);
	transform: rotate(7deg);
}
.sale span {
	display: block;
	font-size: 30px;
	color: #2A2A2A;
	line-height: 30px;
	margin-top: 5px;
}
/* секции */

h2 {
	font-size: 40px;
	line-height: 40px;
	color: #000;
	text-align: center;
	position: relative;
	font-weight: bold;
	margin-bottom: 20px;
}
h2:after {
	content: "";
	display: block;
	background: url(../img/h2.png) no-repeat top center;
	width: 151px;
	height: 3px;
	margin: 20px auto 0;
}
h2.yellow {
	color: #FFB900;
}
.slog {
	font-size: 18px;
	line-height: 24px;
	color: #000;
	text-align: center;
}
.slog span {
	font-weight: bold;
	color: #FF8903;
}
.slog span.hide {
	color: #000;
}
.stitle {
	margin-bottom: 30px;
}
/* look */

.look {
	position: relative;
	z-index: 2;
	padding-bottom: 50px;
}
.look .stitle {
	margin-bottom: 50px;
}
.look_block {
	background: url(../img/look_block.jpg) no-repeat top center;
	height: 320px;
}
.video-container {
	border-radius: 35px;
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 370px;
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
}
.video-container iframe {
	width: 100%;
	height: 100%
}
.video {
	width: 560px;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	text-align: center;
	margin: -20px auto 0;
}
/* look */

/* forgot */

.forgot {
	background: url(../img/forgot_bg.jpg) no-repeat top center;
	height: 650px;
	padding-top: 170px;
}
.forgot .stitle {
	margin-bottom: 50px;
}
.forgot .slog {
	font-size: 22px;
}
.forgot_item {
	font-size: 18px;
	color: #0F0F0F;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
}
.forgot_item img {
	display: block;
	margin: 0 auto 15px;
	border-radius: 35px;
	box-shadow: 0px 18px 15px 0px rgba(0, 0, 0, 0.2);
}
.owl-nav {
	position: absolute;
	top: 80px;
	width: 100%;
}
.owl-prev, .owl-next {
	text-indent: -9999em;
	width: 55px;
	height: 55px;
}
.owl-prev {
	float: left;
	background: url(../img/prev.png) no-repeat;
	margin-left: -30px;
}
.owl-prev:hover {
	background: url(../img/prevh.png) no-repeat;
}
.owl-next {
	float: right;
	background: url(../img/next.png) no-repeat;
	margin-right: -30px;
}
.owl-next:hover {
	background: url(../img/nexth.png) no-repeat;
}
.forgot .owl-dots {
	display: none!important;
}
/* forgot */

/* preim */

.preim {
	padding-top: 75px;
}
.preim_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.preim_item {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	line-height: 22px;
	width: 30%;
	margin-bottom: 30px;
}
.preim_item img {
	display: block;
	margin: 0 auto 10px;
}
.preim_bottom {
	background: url(../img/preim_bottom.png) no-repeat top center;
	height: 122px;
	padding: 25px 0;
	position: relative;
	z-index: 2;
}
.pb_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.pb_count {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.pb_count .title {
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	text-align: right;
	line-height: 24px;
	margin-right: 10px;
}
.pb_count .countbox .countbox-num {
	border-width: 1px;
	border-color: rgb(252, 252, 252);
	border-style: solid;
	border-radius: 8px;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
	width: 63px;
	height: 58px;
	background-color: #C26700;
}
.pb_count .countbox-hours, .pb_count .countbox-mins, .pb_count .countbox-secs {
	font-size: 36px;
	line-height: 42px;
}
.pb_count .countbox-hours-text, .pb_count .countbox-mins-text, .pb_count .countbox-secs-text {
	font-size: 13px;
	color: #FFF;
	font-weight: 400;
	margin: -6px auto 0;
}
.pb_count .countbox .countbox-num:before {
	color: #FFF;
	right: -21px;
	top: 16px;
	font-size: 34px;
}
.btn2 {
	background-image: none;
	background-color: #1F3D22;
	margin-right: 30px;
	margin-left: 0;
	border: 3px solid #1F3D22;
}
.btn2:hover {
	background-image: none;
	border: 3px solid #ffff;
}
.btn2:active {
	background-image: none;
	border-color: #2A2A2A;
	background: #2A2A2A;
}
/* preim */

/* steps */

.steps {
	background: url(../img/steps_bg.jpg) no-repeat top center;
	height: 701px;
	padding-top: 160px;
	margin-top: -90px;
}
.steps h2 {
	color: #FFF;
}
.steps h2:after {
	background: url(../img/h2_white.png);
}
.steps_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #FFF;
}
.steps_block .image {
	-ms-flex: 0 0 auto;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	position: relative;
	z-index: 2;
	margin-top: -85px;
}
.steps_block .text {
	padding-top: 20px;
}
.step_top {
	font-size: 22px;
	line-height: 24px;
	color: #FFF;
	margin-left: 490px;
}
.step_list {
	padding: 15px 0;
	position: relative;
	background-color: rgba(0, 0, 0, 0.4);
}
.step_list:before {
	content: "";
	width: 200px;
	height: 100%;
	position: absolute;
	left: -200px;
	background-color: rgba(0, 0, 0, 0.4);
	top: 0;
}
.step_list:after {
	content: "";
	width: 500px;
	height: 100%;
	position: absolute;
	right: -500px;
	background-color: rgba(0, 0, 0, 0.4);
	top: 0;
}
.sl_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px;
}
.sl_item:last-child {
	margin-bottom: 0;
}
.sl_item .numb {
	border-width: 3px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-radius: 50%;
	background-image: -webkit-linear-gradient( 90deg, rgb(82, 140, 38) 0%, rgb(147, 216, 80) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(82, 140, 38) 0%, rgb(147, 216, 80) 100%);
	height: 50px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 44px;
	-ms-flex: 0 0 50px;
	-webkit-box-flex: 0;
	flex: 0 0 50px;
	margin-right: 15px;
	position: relative;
	z-index: 3;
}
.sl_item .numb:after {
	content: "";
	width: 5px;
	height: 15px;
	background: #FFF;
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	margin: auto;
}
.sl_item:last-child .numb:after {
	display: none;
}
/* steps */

/* effect */

.effect_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 1;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.efl {
	position: absolute;
	z-index: 2;
}
.efl1 {
	top: 130px;
	left: 464px;
}
.efl2 {
	top: 120px;
	right: 180px;
}
.efl3 {
	top: 167px;
	right: 55px;
}
.effect_item {
	border-width: 10px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-radius: 35px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 18px 40px 0px rgba(0, 1, 1, 0.2);
	width: 278px;
	position: relative;
	margin-bottom: 50px;
	padding-bottom: 10px;
}
.effect_item img {
	border-radius: 25px 25px 0 0;
	display: block;
}
.effect_item:nth-child(1) {
	z-index: 4;
	margin-left: 0;
}
.effect_item .title {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #010101;
	line-height: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 36px;
	margin: 5px 0;
}
.ef_price {
	text-align: center;
	margin-bottom: 10px;
}
.ef_price span {
	display: inline-block;
	font-size: 18px;
	color: #FFF;
	min-width: 105px;
	background: #2A362A;
	padding: 8px 10px;
	border-radius: 30px;
}
.ef_list {
	margin-right: 10px;
	color: #757575;
	font-size: 16px;
}
.ef_list li {
	margin-bottom: 5px;
	text-align: right;
	position: relative;
	padding-right: 30px;
}
.ef_list li:before {
	content: "";
	width: 23px;
	height: 16px;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.ef_list li.accept:before {
	background: url('../img/accept.png') no-repeat top center;
}
.ef_list li.ignore:before {
	background: url('../img/ignore.png') no-repeat top center;
}
.effect_item.big {
	width: 300px;
	background: #90D44E;
}
.effect_item.big .best_choice {
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	letter-spacing: 2px;
	margin: 5px 0 0 0;
}
.effect_item.big .title {
	font-size: 26px;
	font-weight: 800;
	color: #90d44e;
	margin-top: 0;
	background: #fff;
}
.effect_item.big .ef_price span {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	background: #FF9100;
}
.effect_item.big .ef_list {
	color: #FFF;
	margin-right: 20px;
}
.effect_item.big .ef_list li.accept:before {
	background: url(../img/accept_white.png) no-repeat top center;
}
.ef_bottom {
	font-size: 20px;
	color: #571a10;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	margin-bottom: 30px;
}
.effect .preim_bottom {
	background: #FFBD00;
	height: auto;
}
.lists {
	position: absolute;
	top: -45px;
	right: 20px;
	z-index: 4;
}
/* effecct */

/* doctor */

.doctor {
	padding-top: 75px;
	background: url(../img/doctor_bg.jpg) no-repeat top center;
	height: 700px;
}
.doctor .stitle {
	margin-bottom: 50px;
}
.doc_block {
	position: relative;
}
.doc_block .text {
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.702);
	width: 730px;
	padding: 25px 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	color: #000;
}
.doc_block .text p.big {
	position: relative;
	background: #90D44E;
	color: #FFF;
}
.doc_block .text p.big:before {
	content: "";
	width: 500px;
	height: 100%;
	position: absolute;
	left: -500px;
	background: #90D44E;
	top: 0;
}
.doc_block .image {
	position: absolute;
	right: -34px;
	top: -45px;
	z-index: 2;
}
.doc_block .name {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #2A362A;
	text-align: center;
	width: 360px;
	position: absolute;
	background: #FFDE00;
	padding: 20px 0;
	bottom: 100px;
	left: 0;
	right: 0;
	margin: auto;
}
.doc_block .text p {
	padding: 10px 200px 10px 60px;
}
/* doctor */

/* reviews */

.reviews {
	padding-top: 75px;
	padding-bottom: 80px;
	background: url(../img/rev_after.png) bottom center no-repeat;
	position: relative;
	z-index: 2;
}
.reviews .stitle {
	margin-bottom: 0;
}
.reviews .container {
	max-width: 1020px;
}
.rev_item {
	border-radius: 8px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 1, 0.22);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 40px;
	margin: 40px;
	min-height: 338px;
}
.rev_item .image {
	-ms-flex: 0 0 auto;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	margin-right: 40px;
}
.rev_item .name {
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	position: relative;
	color: #FFBD00;
	margin-bottom: 20px;
}
.rev_item .name:after {
	content: "";
	display: block;
	width: 245px;
	height: 2px;
	background: #E9E9E9;
	margin-top: 20px;
}
.rev_item .name span {
	color: #BABABA;
}
.rev_item p {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	color: #000;
}
.reviews .owl-nav {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.owl-dots {
	text-align: center;
	margin-top: -20px;
	position: relative;
	z-index: 2;
}
.owl-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #D9D9D9;
	margin: 0 8px;
}
.owl-dot.active {
	background: #FFBD00;
}
.rev_list1 {
	position: absolute;
	right: 0;
	top: 110px;
	z-index: 5;
}
.rev_list2 {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
}
/* reviews */

/* order */

.order {
	padding-bottom: 0;
	padding-top: 0;
	margin-top: -100px;
}
.order h2 {
	color: #FFF;
}
.order h2:after {
	background: url(../img/h2_white.png);
}
.order_top {
	background-color: rgb(255, 189, 0);
	padding-top: 160px;
}
.order_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	color: #0F0F0F;
	font-weight: bold;
}
.order_item {
	margin-bottom: 30px;
}
.order_item img {
	box-shadow: 0px 18px 40px 0px rgba(0, 0, 0, 0.2);
	border-radius: 35px;
	display: block;
	margin: auto;
}
.order_item .image {
	position: relative;
	margin-bottom: 15px;
}
.ob_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.order_bottom {
	padding: 20px 0;
	color: #fff;
	background: #fff;
}
.ob_item {
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	color: #84d241;
	text-transform: uppercase;
	position: relative;
}
.ob_item span {
	color: #ffbd00;
}
.ob_item:before {
	content: '';
	position: absolute;
	right: -25px;
	top: -5%;
	height: 110%;
	width: 1px;
	background: #7ACD38;
}
.ob_item:last-child:before {
	display: none;
}
/* order */

.last_block .header_bottom {
	background: url(../img/last_block.jpg) no-repeat top center;
	height: 822px;
}
.last_block .btn {
	font-size: 28px;
}
br.pvis {
	display: none;
}
footer {
	text-align: center;
	color: #FFF;
	font-size: 16px;
	background: #000;
	padding: 20px 0;
}
@media (max-width:970px) {
	.container {
		width: 640px;
	}
	.ht {
		width: 33.3%;
	}
	.ht .image {
		width: 70px;
		margin-right: 5px;
	}
	.header_top {
		padding-top: 0;
	}
	.ht .text {
		font-size: 14px;
		margin-left: 0;
	}
	.ht .text br {
		display: none;
	}
	.header_bottom {
		background: url(../img/main_bg_p.jpg) no-repeat top center;
		height: 830px;
		padding-top: 70px;
	}
	h1, .last_block h2 {
		font-size: 68px;
		line-height: 72px;
	}
	.main_title span {
		font-size: 28px;
		line-height: 30px;
		letter-spacing: -1.3px;
	}
	.main_slog {
		font-size: 16px;
		line-height: 18px;
		width: 175px;
		padding-left: 25px;
	}
	.main_slog br {
		display: none;
	}
	.main_slog:before {
		left: 6px;
		width: 5px;
	}
	.mt {
		margin-bottom: 25px;
	}
	.main_text {
		padding: 15px 0;
		text-align: center;
		display: block;
	}
	.main_text:after {
		content: "";
		position: absolute;
		right: -500px;
		width: 500px;
		height: 100%;
		background-color: rgba(255, 189, 0, 0.8);
		top: 0;
	}
	.list {
		width: 100%;
		margin-top: 20px;
		margin-left: 0;
	}
	.list ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.list li:nth-child(even) {
		margin-left: 0;
	}
	.list li {
		margin-bottom: 0;
		padding-right: 5px;
	}
	.list li br {
		display: none;
	}
	.prod_block {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.sale_block_wrap {
		width: 407px;
		height: 407px;
		margin-left: auto;
		margin-top: 35px;
	}
	.count {
		margin-bottom: 0;
	}
	.count_title {
		font-size: 20px;
		line-height: 22px;
		margin-bottom: 5px;
	}
	.countbox .countbox-num {
		width: 64px;
		height: 60px;
	}
	.countbox-hours, .countbox-mins, .countbox-secs {
		font-size: 44px;
		line-height: 54px;
	}
	.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
		font-size: 15px;
		margin: 10px auto 0;
	}
	.countbox .countbox-num:before {
		right: -22px;
		top: 16px;
	}
	.old_price {
		font-size: 34px;
		line-height: 34px;
	}
	.price .cur {
		font-size: 20px;
	}
	.new_price {
		font-size: 44px;
		line-height: 42px;
	}
	.price {
		overflow: hidden;
	}
	.price:after {
		top: -14px;
	}
	input {
		width: 160px;
		height: 32px;
		font-size: 14px;
		padding: 0 20px 0 30px;
	}
	input.phone, input.name {
		background-size: 26px 26px;
		background-position: 2px center;
	}
	.secure {
		font-size: 12px;
	}
	.secure span {
		background-size: 13px 16px;
	}
	.sale_block .btn {
		width: 220px;
		font-size: 18px;
		height: 60px;
		line-height: 58px;
	}
	.sale {
		font-size: 20px;
		line-height: 22px;
		top: 450px;
		left: 166px;
		-webkit-transform: rotate(31deg);
		transform: rotate(31deg);
	}
	.sale span {
		font-size: 26px;
		margin-top: 0;
	}
	.slog {
		font-size: 16px;
		line-height: 18px;
	}
	.video {
		font-size: 16px;
		line-height: 18px;
	}
	.forgot .slog {
		font-size: 18px;
	}
	.preim_item {
		width: 50%;
		margin-bottom: 40px;
	}
	.preim_bottom {
		padding: 15px 0 25px;
	}
	.pb_count {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}
	.pb_count .title {
		text-align: center;
		font-size: 16px;
	}
	.pb_count .title br {
		display: none;
	}
	.btn2 {
		margin-top: 15px;
	}
	.steps {
		padding-top: 115px;
		margin-top: -50px;
		height: 660px;
	}
	.steps h2 {
		padding: 0 10px;
	}
	.steps .stitle {
		margin-bottom: 10px;
	}
	.steps_block .image {
		margin-left: -30px;
		margin-top: 0;
	}
	.steps_block img {
		width: 425px;
	}
	.step_top {
		margin-left: 0;
		text-align: center;
	}
	.sl_item {
		font-size: 16px;
		line-height: 18px;
	}
	.steps_block .text {
		padding-top: 40px;
	}
	.sl_item .numb:after {
		height: 25px;
		bottom: -26px;
	}
	.effect_item:nth-child(3) {
		display: none;
	}
	.lists {
		top: -25px;
		right: -140px;
	}
	.ef_bottom {
		font-size: 18px;
	}
	.doc_block .text {
		margin-left: -56px;
		font-size: 16px;
		line-height: 18px;
		padding-right: 80px;
		padding-bottom: 10px;
	}
	.doctor .stitle {
		margin-bottom: 30px;
	}
	.doc_block .image {
		width: 400px;
		right: -30px;
		top: 10px;
	}
	.doc_block .name {
		width: 322px;
		font-size: 18px;
		padding: 15px 0;
		bottom: 80px;
	}
	.doc_block .text p {
		padding-right: 320px;
	}
	.reviews h2 {
		padding: 0 10px;
	}
	.rev_list1 {
		right: -75px;
		top: 155px;
	}
	.reviews .container {
		width: 660px;
	}
	.rev_item {
		margin: 20px;
		padding: 15px;
	}
	.rev_item .image {
		margin-right: 20px;
	}
	.rev_item .name:after {
		margin-top: 10px;
	}
	.rev_item .name {
		margin-bottom: 10px;
	}
	.rev_item p {
		font-size: 16px;
		line-height: 18px;
	}
	.owl-dots {
		margin-top: 0;
	}
	.reviews .owl-next {
		margin-right: -10px;
	}
	.reviews .owl-prev {
		margin-left: -10px;
	}
	.order_block {
		line-height: 18px;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.order_block br {
		display: none;
	}
	.order_item {
		width: 200px;
	}
	.order_item img {
		border-radius: 20px;
	}
	.ob_item {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		padding: 0 40px;
		font-size: 18px;
	}
	.ob_item:before {
		width: 430px;
		right: 0;
		left: 0;
		top: auto;
		bottom: -10px;
		margin: auto;
		height: 1px;
	}
	.ob_item br {
		display: none!important;
	}
	br.pvis {
		display: inline-block !important;
	}
	.last_block .header_bottom {
		background: url(../img/last_block_p.jpg) no-repeat top center;
		height: 782px;
	}
	.last_block .btn {
		font-size: 28px;
	}
	.last_block .sale {
		font-size: 16px;
		line-height: 18px;
		top: 437px;
		left: 163px;
		-webkit-transform: rotate(16deg);
		transform: rotate(16deg);
	}
	.last_block .sale span {
		font-size: 20px;
	}
}
.doc_m {
	display: none;
}
.rev_hidden {
	display: none;
}
@media (max-width:665px) {
	.wrap {
		width: 420px;
	}
	.container {
		max-width: 300px;
		width: 100%;
	}
	.header_top {
		display: none;
	}
	.header_bottom {
		background: url(../img/main_bg_m.jpg) no-repeat top center;
		height: 1099px;
		padding-top: 70px;
	}
	.mt {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 46px;
	}
	.main_title {
		position: relative;
		margin-bottom: 15px;
	}
	.main_title:after {
		content: "";
		display: block;
		width: 100%;
		height: 5px;
		background-image: -webkit-linear-gradient( 90deg, rgb(255, 136, 1) 0%, rgb(255, 177, 0) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(255, 136, 1) 0%, rgb(255, 177, 0) 100%);
		margin: 10px 0 0;
	}
	h1, .last_block h2 {
		font-size: 44px;
		line-height: 50px;
	}
	.main_title span {
		font-size: 17px;
		line-height: 18px;
		letter-spacing: 0px;
	}
	.main_slog br {
		display: none;
	}
	.main_slog {
		width: 100%;
		padding: 10px 0;
		text-align: center;
		background-color: rgba(255, 189, 0, 0.8);
	}
	.main_slog:before {
		content: "";
		position: absolute;
		left: -500px;
		width: 500px;
		height: 100%;
		background-color: rgba(255, 189, 0, 0.8);
		top: 0;
		background-image: none;
	}
	.main_slog:after {
		content: "";
		position: absolute;
		right: -500px;
		width: 500px;
		height: 100%;
		background-color: rgba(255, 189, 0, 0.8);
		top: 0;
		background-image: none;
	}
	.main_text {
		display: none;
	}
	.list {
		margin-left: 123px;
		margin-top: 0;
	}
	.list ul {
		display: block;
	}
	.list li {
		font-size: 14px;
		line-height: 12px;
		padding-right: 0;
		padding-left: 35px;
		margin-bottom: 14px;
		margin-right: 12px;
	}
	.list li:nth-child(even) {
		margin-left: 21px;
		margin-right: 0;
	}
	.list li:before {
		width: 31px;
		height: 31px;
		background-size: 100% 100%;
	}
	.sale_block_wrap {
		-ms-flex: 0 0 547px;
		-webkit-box-flex: 0;
		flex: 0 0 547px;
		width: 100%;
		height: 535px;
		margin-left: -134px;
		margin-top: 70px;
	}
	.count_title {
		font-size: 24px;
		line-height: 26px;
	}
	.old_price {
		font-size: 30px;
		line-height: 30px;
		margin-right: 50px;
	}
	.price {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.new_price .cur {
		font-size: 18px;
	}
	.inputs {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	input.name {
		margin-right: 0;
	}
	input {
		width: 282px;
		height: 54px;
		margin-bottom: 10px;
		border-radius: 30px;
		font-size: 24px;
	}
	input.phone {
		background: url(../img/phone_big.png) no-repeat 6px center;
	}
	input.name {
		background: url(../img/name_big.png) no-repeat 6px center;
	}
	.secure {
		font-size: 14px;
		margin-top: 0;
	}
	.secure span {
		background-size: auto;
	}
	.btn, .sale_block .btn {
		width: 282px;
		font-size: 22px;
		height: 74px;
		line-height: 64px;
	}
	.sale {
		background: url(../img/sale_bg.png) no-repeat top center;
		width: 193px;
		height: 104px;
		top: 150px;
		left: 51px;
		-webkit-transform: none;
		transform: none;
		font-size: 16px;
		line-height: 16px;
		padding-left: 47px;
		padding-top: 14px;
	}
	.sale span {
		font-size: 20px;
		line-height: 26px;
	}
	.sale p {
		-webkit-transform: rotate(7deg);
		transform: rotate(7deg);
	}
	h2 {
		font-size: 34px;
		line-height: 30px;
	}
	h2 br {
		display: none;
	}
	.slog span.hide {
		display: none;
	}
	.slog span {
		color: #000;
	}
	.look_block {
		background: #90D44E;
	}
	.look_block .container {
		max-width: 100%;
		padding: 0;
	}
	.video-container {
		height: 278px;
		margin-bottom: 35px;
	}
	.video {
		width: 100%;
		margin-top: 20px;
	}
	.video p {
		padding: 0 65px;
	}
	.forgot .slog {
		line-height: 24px;
	}
	.forgot h2 {
		padding: 0 35px;
	}
	.forgot .stitle {
		margin-bottom: 20px;
	}
	.forgot {
		padding-top: 135px;
	}
	.forgot_item img {
		box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.2);
	}
	.forgot_item {
		font-size: 16px;
		line-height: 20px;
	}
	.preim_item {
		width: 100%;
	}
	.pb_block {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.preim_bottom {
		height: auto;
		background: #FFBC01 url(../img/preim_bottom.png) no-repeat bottom center;
	}
	.btn2 {
		margin-top: 0;
		margin-right: 0;
	}
	.pb_count {
		-ms-order: -1;
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
		margin-bottom: 15px;
	}
	.steps h2 {
		padding: 0;
	}
	.step_top {
		font-size: 18px;
		line-height: 18px;
	}
	.steps {
		background: url(../img/steps_bg_m.jpg) no-repeat top center;
		height: 820px;
	}
	.steps_block img {
		width: 327px;
		max-width: none;
	}
	.steps_block .image {
		margin-left: -22px;
		margin-top: 15px;
	}
	.steps_block {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.step_list:before, .step_list:after {
		display: none;
	}
	.steps_block .text {
		padding-top: 0;
		margin-top: -70px;
	}
	.step_list {
		padding: 68px 10px 15px;
	}
	.sl_item {
		margin-bottom: 15px;
	}
	.effect_item {
		margin-bottom: 30px;
	}
	.effect_item:nth-child(2) {
		display: none;
	}
	.ef_bottom span {
		display: none;
	}
	.doctor {
		background: url(../img/doctor_bg_m.jpg) no-repeat top center;
		height: 774px;
		padding-top: 50px;
	}
	.doc_block {
		width: 335px;
		border-radius: 30px;
		background-color: rgba(255, 255, 255, 0.702);
		margin-left: -26px;
		padding-bottom: 20px;
		border-radius: 30px;
	}
	.doc_block .text {
		width: 100%;
		margin-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		border-radius: 0;
		background-color: transparent;
		padding: 0;
	}
	.doc_block .text p {
		padding: 10px 30px;
		position: relative;
		background: #90D44E;
	}
	.doc_d {
		display: none;
	}
	.doc_block .image {
		position: relative;
		margin: auto;
		width: 100%;
		right: 0;
		top: 0;
	}
	.doc_m {
		display: block;
		position: static;
		margin: auto;
	}
	.doc_block .text p span {
		display: none;
	}
	.doc_block .text p.big:before {
		display: none;
	}
	.doc_block .text p.big {
		background: none;
		color: #000;
	}
	.doc_block .name {
		width: 262px;
		font-size: 15px;
		padding: 10px 0;
		bottom: 25px;
	}
	.reviews .container {
		width: 340px;
	}
	.rev_visible {
		display: none;
	}
	.rev_hidden {
		display: block;
	}
	.rev_item {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		min-height: 680px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.rev_item .image {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.rev_item .name {
		text-align: center;
	}
	.rev_item .name span {
		display: block;
	}
	.rev_item .text {
		width: 100%;
		padding: 0 10px;
	}
	.rev_item .name:after {
		width: 100%;
	}
	.order_block {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.order_item {
		width: 100%;
	}
	.order_item br {
		display: inline-block;
	}
	.ob_item {
		padding: 0 10px;
		line-height: 20px;
		font-size: 16px;
	}
	.ob_item:before {
		left: 0;
		right: 0;
		width: 225px;
	}
	.ob_item br.pvis {
		display: none!important;
	}
	.reviews .owl-nav {
		-webkit-transform: none;
		transform: none;
		top: 110px;
	}
	.apple {
		right: -273px;
		top: 734px;
	}
	.last_block .header_bottom {
		background: url(../img/main_bg_m.jpg) no-repeat top center;
		height: 994px;
		overflow: hidden;
	}
	.last_block .sale {
		top: 150px;
		left: 51px;
		-webkit-transform: none;
		transform: none;
		line-height: 16px;
	}
	.last_block .btn {
		font-size: 28px;
	}
	.lists {
		right: -10px;
	}
	.rev_list1 {
		right: -20px;
		top: 120px;
		width: 95px;
	}
	.rev_list2 {
		bottom: auto;
		top: 330px;
		left: -40px;
	}
	.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
		margin: 5px auto 0;
	}
}