/* styles */
body {
	min-width: 480px;
	background: #6d8b91;
	font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;
	color: #333;
	cursor: default;
}

.main_wrapper {
	margin: 0 auto;
	width: 480px;
	background: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

b {
	font-weight: 700;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
h2.title{
	font-size: 37px;
	line-height: 1.1em;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	margin-bottom: 40px;
}

section{
	padding: 35px 0 30px;
}

.сolor_theme{
	background: #ed525c;
	background: -moz-linear-gradient(top, #ed525c 0%, #e65336 100%);
	background: -webkit-linear-gradient(top, #ed525c 0%,#e65336 100%);
	background: linear-gradient(to bottom, #ed525c 0%,#e65336 100%);
}
.сolor_theme .title,
.сolor_theme .title span{
	color: #fff;
}


.order_form input{
	border: none;
	width: 100%;
	display: block;
	font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-bottom: 10px;
	height: 48px;
	border-radius: 5px;
	background: #fff;
	text-align: center;
	color: #222;
}
.order_form .button-m{
	margin-top: 0;
}
.order_form ::-webkit-input-placeholder {
	color: #222;
}
.order_form ::-moz-placeholder {
	color: #222;
}
.order_form :-moz-placeholder {
	color: #222;
}
.order_form :-ms-input-placeholder {
	color: #222;
}
.order_form :focus::-webkit-input-placeholder {
	color: transparent;
}
.order_form :focus::-moz-placeholder {
	color: transparent;
}
.order_form :focus:-moz-placeholder {
	color: transparent;
}
.order_form :focus:-ms-input-placeholder {
	color: transparent;
}

/* button */
.button-m{
	border: none;
	cursor: pointer;
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	height: 100px;
	width: 415px;
	display: block;
	border-radius: 20px;
	line-height: 106px;
	text-decoration: none;
	text-align: center;
	background: linear-gradient(to bottom, #faac9c, #f07865);
	font-size: 50px;
	letter-spacing: 2px;
	margin: 0 auto;
	color: #fff;
	position: relative;
	box-shadow: 0 0 10px 0 rgba(242,129,110,0.5);
}
.button-m:active{
	background: linear-gradient(to bottom, #f07865, #faac9c);
	top: 2px;
}



/*  offer_section   */
.offer_section{
	padding: 0;
}
.logo_block{
	padding: 30px 0;
	background: #fff url(../images/logo_bg.png) 50% 0% no-repeat;
}
.logo_block .logo{
	display: block;
	margin: 0 auto;
}
.logo_text{
	color: #3e908b;
	font-size: 23px;
	line-height: 1.1em;
	text-align: center;
	margin-top: 12px;
	letter-spacing: 1px;
}
.logo_text:before{
	content: '';
	width: 335px;
	height: 2px;
	border-top: 1px #b6d2d0 solid;
	border-bottom: 1px #b6d2d0 solid;
	display: block;
	margin: 0 auto 8px;
}

.offer_section .box{
	background: #68a1ac url(../images/offer.jpg) 50% 0% no-repeat;
	min-height: 630px;
	padding-bottom: 40px;
	position: relative;
	overflow: hidden;
}
.main_title{
	text-align: center;
	color: #fff;
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	font-size: 39px;
	line-height: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 15px 0 0;
}
.main_title>span{
	color: #fffcab;
}
.offer_section .button-m{
	margin-top: 330px;
}

.sale_block{
	margin-top: 150px;
	position: relative;
}
.sale_block>p{
	color: #fff;
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 70px;
	line-height: 1em;
	font-weight: 700;
	width: 190px;
	margin-left: 15px;
	text-align: center;
}
.sale{
	width: 313px;
	height: 313px;
	background: url(../images/sale.png) 50% 50% no-repeat;
	text-align: center;
	position: absolute;
	right: -50px;
	top: 50%;
	margin-top: -157px;
	padding-top: 85px;
}
.sale>p{
	font-size: 40px;
	line-height: 1.1em;
	color: #68a1ac;
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.sale>p>span{
	display: block;
	color: #68a1ac;
	font-size: 118px;
	line-height: 1em;
}

.ofr_bull{
	padding: 0 100px 0 20px;
	margin-top: 40px;
}
.ofr_bull>li{
	font-weight: 500;
	color: #fff;
	font-size: 20px;
	line-height: 1.1em;
	padding-left: 50px;
	position: relative;
	margin-bottom: 25px;
}
.ofr_bull>li:before{
	content: '';
	width: 37px;
	height: 37px;
	background: url(../images/check1.png) 50% 50% no-repeat;
	display: block;
	position: absolute;
	top: -8px;
	left: 0;
}
.ofr_bull>li:last-child{
	margin-bottom: 0;
}
.ofr_bull>li:not(:last-child){
	width: 245px;
}

.made_in{
	width: 100px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	line-height: 1.3em;
	position: absolute;
	right: 40px;
	top: 880px;
}
.made_in:before{
	content: '';
	width: 68px;
	height: 69px;
	background: url(../images/flag.png) 50% 50% no-repeat;
	display: block;
	margin: 0 auto 5px;
}

.ofr_bull2{
	font-size: 0;
	text-align: center;
	padding: 20px 0 30px;
	background: #f7e9dd;
	background: -moz-linear-gradient(top, #f7e9dd 0%, #f2c7b3 100%);
	background: -webkit-linear-gradient(top, #f7e9dd 0%,#f2c7b3 100%);
	background: linear-gradient(to bottom, #f7e9dd 0%,#f2c7b3 100%);
	position: relative;
}
.ofr_bull2>li>img{
	display: block;
	margin: 0 auto 10px;
	border-radius: 50%;
}
.ofr_bull2>li{
	display: inline-block;
	vertical-align: top;
	width: 33.3%;
	padding: 0 15px;
	font-size: 16px;
	line-height: 1.2em;
	color: #68a1ac;
	font-weight: 500;
}
.ofr_bull2:after{
	content: '';
	width: 100px;
	height: 96px;
	background: url(../images/ofr_bull2_b.png) 50% 50% no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	bottom: -40px;
}



/*sect2*/
.sect2{
	background: #68a1ac;
	padding: 65px 0 10px;
}
.sect2 .title{
	color: #fff;
}
.sect2 .title span{
	margin: 0 10px;
}
.sect2 .title:before,
.sect2 .title:after{
	content: '';
	width: 120px;
	height: 2px;
	border-bottom: 1px solid #dddbdc;
	border-top: 1px solid #dddbdc;
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
}

/*catalog*/
.product_item{
	max-width: 345px;
	margin: 0 auto 20px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	position: relative;
}
.product_item .img{
	position: relative;
}
.product_item .img img,
.product_item .img a{
	display: block;
	margin: 0 auto;
}
.product_item .discount {
	padding: 8px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #68a1ac;
	font-size: 22px;
	line-height: 24px;
	color: #fff;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 10;
}

.product_item .content{
	padding: 20px 0;
	text-align: center;
}
.product_item .vendor_code{
	font-size: 22px;
	color: #a8a9aa;
}
.price_block{
	font-size: 0;
	text-align: center;
	margin: 20px 0;
}
.price_block>div{
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	font-size: 24px;
	line-height: 1.1em;
}
.price_block>div>small{
	font-size: 0.8em;
}
.price_block .old>span{
	text-decoration: line-through;
}
.price_block .new{
	font-size: 40px;
	font-weight: 700;
	color: #68a1ac;
}
.product_item .button-m{
	width: 280px;
	height: 78px;
	line-height: 78px;
	box-shadow: none;
	border-radius: 4px;
	font-size: 40px;
}

.product_item .hidden{
	background: #fff;
	text-align: center;
	box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
	padding: 25px 20px;
	position: absolute;
	width: 100%;
	left: 0;
	transition: all ease .3s;
	opacity: 0;
	bottom: -100px;
	visibility: hidden;
}
.product_item.active .hidden{
	bottom: 0;
	opacity: 1;
	visibility: visible;
}
.product_item .hidden .close{
	width: 13px;
	height: 13px;
	background: url(../images/x_icon.png) 50% 50% / 100% no-repeat;
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0.6;
	cursor: pointer;
}
.product_item .hidden .close:hover{
	opacity: 0.9;
}
.product_item .hidden .close:active{
	margin-top: 2px;
}

.product_item .action{
	margin-bottom: 15px;
}
.product_item .action>span{
	display: block;
	margin-bottom: 10px;
	color: #f2816e;
	font-size: 30px;
	line-height: 1.1em;
	font-weight: 700;
	text-transform: uppercase;
}
.product_item .action>p{
	font-size: 19px;
}

.product_item .hidden .price{
	margin: 10px 0;
}

.product_item .economy{
	font-size: 20px;
}

.product_item .order_form{
	margin-top: 20px;
	padding: 0 10px;
}
.product_item .order_form input{
	border: 1px solid #e0e0e0;
	background: #f0f0f0;
	height: 70px;
	font-size: 19px;
}


/*sect3*/
.sect3{
	background: #68a1ac url(../images/s3_bg.png) 50% 0% no-repeat;
	color: #fff;
	padding-top: 30px;
	position: relative;
}
.sect3:after{
	content: '';
	width: 76px;
	height: 101px;
	background: url(../images/s3_b.png) 50% 50% no-repeat;
	position: absolute;
	bottom: -44px;
	right: 0;
}
.sect3 .title{
	color: #fff;
	padding: 0 110px;
	line-height: 1.4em;
}
.sect3 .title>span{
	margin: 18px 0;
	display: block;
}
.sect3 .title:before,
.sect3 .title:after{
	content: '';
	width: 120px;
	height: 2px;
	border-bottom: 1px solid #dddbdc;
	border-top: 1px solid #dddbdc;
	display: block;
	margin: 0 auto;
}

.order_list{
	padding: 0 20px;
}
.order_list>li{
	display: table;
	width: 100%;
	margin-bottom: 25px;
}
.order_list>li:last-child{
	margin-bottom: 0;
}
.order_list li .img{
	width: 83px;
	display: table-cell;
	vertical-align: middle;
}
.order_list li .img>img{
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
}
.order_list>li>p{
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	font-size: 18px;
	line-height: 1.5em;
}


/*last_sect*/
.last_sect{
	background: #fbb3a3;
	background: -moz-linear-gradient(top, #fbb3a3 0%, #faeee8 100%);
	background: -webkit-linear-gradient(top, #fbb3a3 0%,#faeee8 100%);
	background: linear-gradient(to bottom, #fbb3a3 0%,#faeee8 100%);
}


/*sect4*/
.sect4 .title{
	font-size: 33px;
	font-weight: 700;
	color: #fff;
}
.sect4 .title:before{
	content: '';
	width: 120px;
	height: 2px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	display: block;
	margin: 0 auto 20px;
}
.sect4 .title:after{
	content: '';
	width: 44px;
	height: 37px;
	background: url(../images/rev_q.png) 50% 50% no-repeat;
	display: block;
	margin: 20px auto 0;
}

.reviews{
	padding: 0 65px;
	position: relative;
	z-index: 5;
}

.rev_item{
	background: #fff;
	margin-bottom: 30px;
}
.rev_item .text{
	padding: 30px 15px 50px; 
}
.rev_item .text>span{
	font-size: 20px;
	font-weight: 700;
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
.rev_item .text>span:after{
	content: '';
	width: 100%;
	height: 2px;
	border-top: 1px solid #dddbdc;
	border-bottom: 1px solid #dddbdc;
	display: block;
	margin: 15px auto 0;
}
.rev_item .text>p{
	text-align: center;
	font-size: 18px;
	line-height: 1.4em;
}

.rev_item .info{
	background: #c1e1e0;
	padding: 1px 20px 25px;
	text-align: center;
}
.rev_item .info>img{
	border-radius: 50%;
	display: block;
	margin: -25px auto 10px;
}


/*sect5*/
.sect5{
	position: relative;
	padding: 0;
}
.sect5:before{
	content: '';
	width: 480px;
	height: 335px;
	background: url(../images/logo_bg1.png) 50% 50% no-repeat;
	position: absolute;
	top: -150px;
	left: 0;
}
.sect5 .logo_block{
	background: none;
	position: relative;
	z-index: 5;
}

.action_form{
	text-align: center;
	font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
	font-size: 40px;
	line-height: 1.2em;
	text-transform: uppercase;
	color: #f2816e;
	font-weight: 700;
	margin: 40px 0;
}
.action_form>span{
	color: #68a1ac;
	display: block;
}

.formbox{
	background: #68a1ac;
	padding: 20px 20px 40px;
	width: 340px;
	margin: 0 auto;
	border-radius: 16px;
	position: relative;
}
.formbox .doubt{
	color: #fff;
}
.formbox .doubt>span{
	display: block;
	font-weight: 700;
	text-align: center;
	font-size: 20px;
	line-height: 1.1em;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.formbox .doubt>p{
	text-align: center;
	padding: 0 15px;
	font-size: 18px;
}

.formbox .order_form{
	padding: 0 10px;
	margin-top: 25px;
}
.formbox .order_form .button-m{
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 22px;
	border-radius: 6px;
}

.formbox:before{
	content: '';
	width: 97px;
	height: 427px;
	background: url(../images/woman1.png) 50% 50% no-repeat;
	position: absolute;
	top: -30px;
	left: -70px;
	pointer-events: none;
}
.formbox:after{
	content: '';
	width: 114px;
	height: 410px;
	background: url(../images/woman2.png) 50% 50% no-repeat;
	position: absolute;
	top: -30px;
	right: -70px;
	pointer-events: none;
}

/* footer */
.footer_section {
	padding: 25px 0;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.footer_section img {
	display: block;
	margin: 0 auto 10px auto;
}

.footer_section a {
	color: #222;
	display: block;
}