.top-line{
  padding: 10px 0;
}
.top-line h1{
  text-align: center;
  font-size: 32px;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 5px;
}
/*   offer   */

.offer {
 background: url("../img/offer-desktop.jpg") 50% 0 no-repeat;
 height: 560px;
 padding: 40px 0;
}

.offer .box {
 width: 320px;
 margin: 0 0 0 40px;
}

.offer .logo {
 color: #fff;
 margin-bottom: 30px;
}
.offer .logo>img{
  display: block;
}

.offer .logo:after {
    content: '';
    margin: 15px auto 0;
    width: 100%;
    height: 4px;
    display: block;
    border-top: 1px solid rgba(221,219,220,0.5);
    border-bottom: 1px solid rgba(221,219,220,0.5);
}

.offer .date-sale {
margin: 0 0 30px;
 font-weight: 700;
 font-size: 16px;
 color: #fbd805;
 text-align: center;
 letter-spacing: .5px;
}

.offer .sale {
 position: absolute;
  left: 660px;
  top: 220px;
  width: 110px;
  height: 110px;
  color: #fff;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #ea0ab0;
  border: 2px solid #f9f9f9;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #d629a9;
}

.offer .sale b {
 display: block;
font-size: 35px;
letter-spacing: normal;
}


.offer .bullet {
  margin: 0 0 20px;
}

.offer .bullet li {
  padding: 0 0 20px 35px;
 color: #fff;
 font-size: 20px;
 line-height: 1.3em;
 background: url(../img/checked-24.png) 0 2px no-repeat;
}

.order-txt {
  color: #fff;
 text-align: center;
 padding-bottom: 15px;
}

.order-txt h4 {
 font-size: 22px;
 padding-bottom: 15px;
}

.order-txt p>span{
  color: #fbd805;
}

.gallery {
 padding: 40px 0 10px;
}

/*   check-list   */

.check-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin: 60px 0 20px;
}

.check-list li {
  margin: 0 15px 25px;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 500;
}

.check-list>li:before{
  content: '';
  display: block;
  width: 92px;
  height: 92px;
  margin: 0 auto 15px;
  background: url(../img/benef_icon.png) 0 0 no-repeat transparent;
}
.check-list>li:nth-child(2):before{
  background-position: -184px 0;
}
.check-list>li:nth-child(3):before{
  background-position: -276px 0;
}
.check-list>li:nth-child(4):before{
  background-position: -368px 0;
}


.s1 {
 padding-bottom: 0;
}

/*   catalog   */


.catalog {
 font-size: 0;
 margin: 0 -10px;
}

.card{
 position: relative;
 display: inline-block;
 vertical-align: top;
 width: 315px;
 margin: 0 12px 20px;
 border: 2px solid #efefef;
 border-radius: 4px;
 overflow: hidden;
 font-size: 16px;
 text-align: center;
 background: #fff;
}
.card-gallery{
 position: relative;
}
.card-gallery img {
  display: block;
}
.card-gallery .slick-dots{
  position: absolute;
  bottom: 10px;
  width: 100%;
  line-height: 1em;
  text-align: center;
}
.card-gallery .slick-dots>li{
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  border-radius: 50%;
  border: 1px solid #efefef;
  background: #fff;
}
.card-gallery .slick-dots>li.slick-active{
  background: #fbd805;
  border-color: #fbd805;
}
.card-gallery .slick-dots button{
  display: none;
}
.card-sale {
  position: absolute;
  width: 100px;
  height: 75px;
  top: -32px;
  left: -30px;
  z-index: 10;
  padding: 40px 0 0 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ea0ab0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
}
.card-info{
  padding: 20px 10px;
}
.card-info__title, .card-order__title{
 font-size: 20px;
 font-weight: 700;
 margin-bottom: 10px;
}
.card-price{
 margin-bottom: 15px;
 font-size: 18px;
}

.card-price>div {
 display: inline-block;
 padding: 0 5px;
}

.card-price small{
 font-size: 16px;
}
.card-price__old {
  color: #999;
  text-decoration: line-through;
}
.card-price__new {
 font-size: 24px;
 font-weight: 700;
}
.card-info__char{
  margin: 15px 5px;
  line-height: 1.2em;
  text-align: left;
}
.card-info__char>dt{
  float: left;
  padding: 10px 0;
}
.card-info__char>dd{
  padding: 10px 0 10px 100px;
  text-align: right;
  border-bottom: 1px dashed #ccc;
}
.card-info__char>dd:last-child{
  border-bottom: 0;
}

.card .button-m {
 width: 260px;
 height: 58px;
 line-height: 58px;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: #000;
    opacity: 0.8;
    z-index: 999;
}
.card-order{
    position: fixed;
    display: none;
    z-index: 9999;
    width: 320px;
    height: auto;
    margin-left: -160px;
    top: 5%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    padding: 25px 15px;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(0,0,0,1); 
    border-radius: 8px;
}
.card-order__close{
    position: absolute;
    width: 13px;
    height: 13px;
    top: 10px;
    right: 10px;
    background: url(../img/x_icon.png) 50% 50% / 100% no-repeat;
    opacity: 0.6;
    cursor: pointer;
}
.card-order__close:hover{
  opacity: 0.9;
}
.card-order__close:active{
  margin-top: 2px;
}
.card-order__title{
  margin-bottom: 5px;
}
.card-order__code{
    color: #999;
}
.card-order__code:after{
  content: ']';
  margin-left: 5px;
}
.card-order__code:before{
  content: '[';
  margin-right: 5px;
}
.card-order .card-price{
  margin: 15px 0 20px;
}
.card-order__text{
  padding: 0 0 15px;
  font-size: 14px;
  line-height: 1.5em;
}
.card-form__field {
 display: block;
 width: 100%;
 height: 54px;
 margin: 0 auto 15px;
 padding: 0 20px;
 font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
 font-size: 16px;
 font-weight: 400;
 outline: 0;
 border: 1px solid #e0e0e0;
 background: #f0f0f0;
 color: #585a5c;
 text-align: left;
 -webkit-border-radius: 30px;
 -moz-border-radius: 30px;
 border-radius: 30px;
 transition: all ease .2s;
}
.card-form__btn{
  width: 100%;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0,0,0,.4);
  background: #ff2fca;
  background: -moz-linear-gradient(top, #ff2fca 0%, #b50287 100%);
  background: -webkit-linear-gradient(top, #ff2fca 0%,#b50287 100%);
  background: linear-gradient(to bottom, #ff2fca 0%,#b50287 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2fca', endColorstr='#b50287',GradientType=0 );
}

.s2{
  background: url(../img/dark-wall.jpg) repeat;
  color: #fff;
}
.s2 h2.title:before, .s2 h2.title:after{
  width: 25%;
}

.list-v1 {
 font-size: 0;
 text-align: center;
}

.list-v1 li {
 display: inline-block;
 vertical-align: top;
 width: 25%;
 padding: 20px;
 font-size: 16px;
 line-height: 1.5em;
}

.list-v1 .icon {
 height: 78px;
 line-height: 78px;
 margin-bottom: 25px;
}

.list-v1 .icon img {
 vertical-align: middle;
}

.list-v1 h4 {
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}


/*   reviews   */

.reviews h2.title:before, .reviews h2.title:after{
  width: 20%;
}

.rev-list .item {
  display: flex;
  flex-direction: row;
 margin-bottom: 40px;
}

.rev-list .item:last-child {
 margin-bottom: 0;
}

.rev-list .head {
 position: relative;
 width: 150px;
 text-align: center;
}
.rev-list .head img {
 display: block;
 margin: 0 auto;
 border-radius: 50%;
}
.rev-list .head .author {
 font-weight: 500;
 line-height: 1.4em;
}

.rev-list .head .author span {
 display: block;
 font-size: 14px;
 color: #585a5c;
}

.rev-list .desc {
 position: relative;
 margin-left: 30px;
 padding: 20px 30px;
 background: #fff;
 box-shadow: 0 4px 25px rgba(25, 42, 86, 0.15);
 border-radius: 0 10px 10px;
}

.rev-list .desc:before {
 position: absolute;
 left: -14px;
 top: 0;
 display: block;
 border: 7px solid transparent;
 border-top: 7px solid #fff;
 border-right: 7px solid #fff;
 content: '';
}


/*   footer   */

.footer {
 background: #fff;
 text-align: center;
 padding: 40px 0 30px;
}

.footer img {
 display: block;
 margin: 0 auto 15px;
}

.footer a {
 font-size: 14px;
 color: #333;
}

.footer a:hover {
 text-decoration: none;
}

@media screen and (max-width: 1019px) {

.top-line h1{
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 2px;
}
 .offer {
  background-image: url("../img/offer-tablet.jpg");
 }
.offer .box{
  margin: 0;
}
.offer .sale{
  left: 540px;
  top: 250px;
  width: 100px;
  height: 100px;
  font-size: 18px;
  line-height: 26px;
  box-shadow: 0 0 0 8px #d629a9;
}
.offer .sale b{
  font-size: 28px;
}

 .order-txt h4 {
  font-size: 22px;
 }
.check-list li{
  width: 25%;
  margin: 0;
  padding: 0 15px 25px;
}
.list-v1 li{
  width: 50%;
}


}

@media screen and (max-width: 679px) {
.top-line h1{
  font-size: 18px;
}
 .offer {
  background-image: url("../img/offer-mobile.jpg");
  height: 860px;
  padding: 20px 0;
 }
.offer .box{
  width: 100%;
}
.offer .logo{
  margin-bottom: 380px;
}
.offer .logo:after{
  display: none;
}

 .offer .date-sale,
 .offer .sale-txt,
 .offer .price {
  text-align: center;
 }

 .offer .sale {
  top: 340px;
  left: 160px;
 }
 .offer .sale-txt,
 .offer .price {
  margin-bottom: 25px;
 }

 section {
  padding: 40px 0;
 }

 h2.title {
  flex-direction: column;
  font-size: 24px;
 }
 h2.title:before, h2.title:after, .s2 h2.title:before, .s2 h2.title:after, .reviews h2.title:before, .reviews h2.title:after{
  width: 100%; 
  margin: 5px 0;
 }

 .check-list li {
  width: 50%;
  padding: 0 5px 25px;
 }

 .check-list {
  margin: 20px 0;
 }

.card {
  display: block;
  margin: 0 auto 30px;
 }

 .list-v1 li {
  width: 100%;
 }

 .list-v1 .icon {
  margin-bottom: 15px;
 }

 .list-v1 h4 {
  padding-bottom: 5px;
 }

.rev-list .item{
  flex-direction: column;
}
.rev-list .head{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: auto;
  padding: 0 0 15px;
  text-align: left;
}
.rev-list .head img{
  display: inline-block;
  margin: 0 15px 0 0;
}
 .rev-list .desc {
  padding: 15px;
  margin-left: 0;
  border-radius: 4px;
 }

 .reviews .desc:before {
  left: 23px;
  top: -14px;
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
 }


 .order-txt {
  padding-bottom: 20px;
 }


}







